.card-white {
    margin: auto;
    position: relative;
    width:400px;
    height:333.33px;
    background-color: #FFF;
    border: none;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 5px 10px grey;
    p {
        position: absolute;
        margin: 40px 40px 0px 40px;
        color:#555555;
        font-weight: bold;
        font-size: 1.21em;
        line-height: 1.8;
    }
}


.card-purple {
    margin: auto;
    position: relative;
    width: 400px;
    height: 166.66px;
    top: 0px;
    color: #FFF;
    text-align: center;
    border: none;
    border-radius: 0px 0px 20px 20px;
    background-color: #686de0;
    box-shadow: 0px 5px 10px grey;
    img {
        width: 110px;
        border: solid 5px #fff;
        border-radius: 50%; 
        transform:translateY(-60px);
    }
    p {
        margin: -50px 0px 8px 0px;
        letter-spacing: 1.75px;
        font-size: 1.21em;
        text-transform: uppercase;
    }
    a {
        color: #c3cfe2;
        letter-spacing: 1px;
        text-decoration: none;   
    } 
}